[submodule "pack/vim-wwdc16-theme"]
	path = pack/themes/opt/vim-wwdc16-theme
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/tpope/start/vim-sensible"]
	path = pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/lang/start/swift.vim"]
	path = pack/lang/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "pack/ide/start/syntastic"]
	path = pack/ide/opt/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pack/ide/start/vim-gitgutter"]
	path = pack/ide/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/ide/start/vim-undotree"]
	path = pack/ide/start/vim-undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/ide/start/vim-easy-align"]
	path = pack/ide/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/tpope/start/vim-repeat"]
	path = pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/tpope/start/vim-rsi"]
	path = pack/tpope/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/ide/start/sourcekittendaemon.vim"]
	path = pack/ide/start/sourcekittendaemon.vim
	url = https://github.com/keith/sourcekittendaemon.vim.git
[submodule "pack/ide/start/tagbar"]
	path = pack/ide/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/ide/start/a.vim"]
	path = pack/ide/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/lang/start/llvm.vim"]
	path = pack/lang/start/llvm.vim
	url = https://github.com/Superbil/llvm.vim.git
[submodule "pack/ide/opt/ale.git"]
	path = pack/ide/opt/ale.git
	url = https://github.com/w0rp/ale.git
[submodule "pack/ide/start/coquille"]
	path = pack/lang/start/coquille
	url = https://github.com/the-lambda-church/coquille.git
[submodule "pack/ide/start/vimbufsync"]
	path = pack/ide/start/vimbufsync
	url = https://github.com/let-def/vimbufsync.git
