[submodule "pack/vim-wwdc16-theme"]
	path = pack/themes/opt/vim-wwdc16-theme
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/tpope/start/vim-sensible"]
	path = pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/lang/start/swift.vim"]
	path = pack/lang/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "pack/ide/start/syntastic"]
	path = pack/ide/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pack/ide/start/vim-gitgutter"]
	path = pack/ide/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/ide/start/vim-undotree"]
	path = pack/ide/start/vim-undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/ide/start/vim-easy-align"]
	path = pack/ide/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/tpope/start/vim-repeat"]
	path = pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/tpope/start/vim-rsi"]
	path = pack/tpope/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "pack/ide/start/tagbar"]
	path = pack/ide/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/ide/start/a.vim"]
	path = pack/ide/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/ide/start/coquille"]
	path = pack/lang/start/coquille
	url = https://github.com/the-lambda-church/coquille.git
[submodule "pack/ide/start/vimbufsync"]
	path = pack/ide/start/vimbufsync
	url = https://github.com/let-def/vimbufsync.git
[submodule "pack/themes/vim-solarized8"]
	path = pack/themes/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/themes/opt/gruvbox"]
	path = pack/themes/opt/gruvbox
	url = https://github.com/dpwright/gruvbox.git
[submodule "pack/themes/opt/molokai"]
	path = pack/themes/opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "pack/lang/start/vim-llvm"]
	path = pack/lang/start/vim-llvm
	url = https://github.com/rhysd/vim-llvm.git
[submodule "pack/ide/start/vim-clang-format"]
	path = pack/ide/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "pack/tpope/start/vim-eunuch"]
	path = pack/tpope/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/ide/start/vim-gutentags"]
	path = pack/ide/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/tpope/start/vim-vinegar"]
	path = pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/util/start/gv.vim"]
	path = pack/util/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/tpope/start/vim-obsession"]
	path = pack/tpope/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/themes/opt/vim-colors-plain"]
	path = pack/themes/opt/vim-colors-plain
	url = https://github.com/andreypopp/vim-colors-plain.git
[submodule "pack/util/start/vim-twiggy"]
	path = pack/util/start/vim-twiggy
	url = https://github.com/sodapopcan/vim-twiggy.git
[submodule "pack/util/start/vim-conflicted"]
	path = pack/util/start/vim-conflicted
	url = https://github.com/christoomey/vim-conflicted.git
